.cart {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 900px; /* Thu nhỏ khung lại */
  margin: auto;
}

.cart h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: grid;
   /* Cột cho checkbox, ảnh, thông tin, giá, số lượng, tổng tiền, xóa */
  align-items: center;
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  gap: 10px;
  display: flex;
  justify-items: stretch; /* Các phần tử trong mỗi cột sẽ chiếm toàn bộ chiều rộng cột */
}

.cart-item img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.cart-item h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  overflow: hidden; /* Ẩn phần nội dung tràn */
  display: -webkit-box; /* Định dạng khung */
  -webkit-box-orient: vertical; /* Đặt hướng khung dọc */
  -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
  line-clamp: 2; /* Đặt số dòng tối đa */
  width: 250px;    /* Đặt giới hạn độ rộng */
  text-overflow: ellipsis; /* Thêm dấu "..." nếu nội dung tràn */
}


.cart-item p {
  font-size: 12px;
  margin: 10px;
  font-weight: bold;
  width: 70px;
}

.cart-item .price {
  width: 100px;
}
.cart-item .total-price {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  width: 100px;
}

.cart-item button {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border: none;
  /* border-radius: 5px; */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-item button:hover {
  background-color: #d7232b;
}

.cart-total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cart-total button {
  background-color: #ff424f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-total button:hover {
  background-color: #d7232b;
}

.qr-code {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.QR-img {
  width:20%;
  height:auto;
}